<h2>Register for <%= event.name %></h2>
<h4>Happening <%= event.date %> at <%= event.venuename %> in <%= event.location %></h4>

<hr />

<div class="container">
  <p>Please select one of the following:</p>
  <div class="form-control">
    <form action="/event/<%= event.id %>/register" method="POST">
      <h3>I am:</h3>
      <select name="roleSelect" class="form-group" required>
        <option value="5">Participating in the event</option>
        <option value="1">Helping organize the event</option>
        <option value="2">Sponsoring the event</option>
        <option value="3">Coaching at the event</option>
        <option value="4">Judging the event</option>
        <option value="6">Covering the event</option>
      </select>
      <input type="submit" class="btn btn-success form-group" value="Register">
    </form>
  </div>
</div>
