<h1>Registration for <%= event.name %></h1>
<h4><%= event.date %> at <%= event.venuename %> in <%= event.location %></h4>

<hr />

<div class="container">
  <p>Please select one of the following:</p>
  <h3>I am:</h3>
  <form class="form-control" action="/event/<%= event.id %>/register" method="POST">
    <select name="roleSelect" required>
      <option value="5">Participating in the event</option>
      <option value="1">Helping organize the event</option>
      <option value="2">Sponsoring the event</option>
      <option value="3">Coaching at the event</option>
      <option value="4">Judging the event</option>
      <option value="6">Covering the event</option>
    </select>
    <input type="submit" class="btn btn-success" value="Register">
  </form>
</div>
