<h1>Upcoming Events</h1>
<h3>Find an event, register, and GO! :-)</h3>

<% events.forEach(function(event) { %>
  <div class="well">
    <h2><a href="/event/<%= event.id %>"><%= event.name %></a></h2>
    <p>on <%= event.date %> in <%= event.location %> at <%= event.venuename %></p>
  </div>

<% }); %>
