<h1>Upcoming Events</h1>
<!-- <h4>sorted by date</h4> -->

<% events.forEach(function(event) { %>
  <div class="well">
    <h2><a href="/event/<%= event.id %>"><%= event.name %></a></h2>
    <h4>on <%= event.date %> in <%= event.location %> at <%= event.venuename %></h4>
  </div>

<% }); %>
